flows/Case_On_Hold_6_Days_Reminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_On_Hold_3_Days_Reminder</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Case On Hold 15 Days Reminder</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_On_Hold_3_Days_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_10_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_On_Hold_3_Days_Reminder</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Case On Hold 6 Day Reminder</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_On_Hold_3_Days_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_On_Hold_3_Days_Reminder</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Case On Hold 9 Days Reminder</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_On_Hold_3_Days_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_On_Hold_3_Days_Reminder</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Case On Hold 12 Days Reminder</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_On_Hold_3_Days_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Case On Hold For 6 Days</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Case On Hold For 9 Days</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Case On Hold For 12 Days</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Case On Hold For 15 Days</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Total_On_Hold_Days__c + 3</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_10_A2_7208687694</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Total_On_Hold_Days__c} + 3</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Total_On_Hold_Days__c + 3</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_8630600244</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Total_On_Hold_Days__c} + 3</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Total_On_Hold_Days__c + 3 </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A2_0124852558</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Total_On_Hold_Days__c} + 3</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Total_On_Hold_Days__c + 3</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A2_1444167851</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Total_On_Hold_Days__c} + 3</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Status) &amp;&amp;  ISPICKVAL([Case].Status, &apos;On Hold&apos;) &amp;&amp;([Case].Total_On_Hold_Days__c = 3) &amp;&amp; (([Case].Date_On_Hold__c + 3) = TODAY()) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Privacy Request&apos;) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Privacy Request - Read Only&apos;) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Data Owner Request&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Status}) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) &amp;&amp;({!myVariable_current.Total_On_Hold_Days__c} = 3) &amp;&amp; (({!myVariable_current.Date_On_Hold__c} + 3) = TODAY()) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Privacy Request&apos;) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Privacy Request - Read Only&apos;) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Data Owner Request&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Status) &amp;&amp;  ISPICKVAL([Case].Status, &apos;On Hold&apos;) &amp;&amp;([Case].Total_On_Hold_Days__c = 12) &amp;&amp; (([Case].Date_On_Hold__c + 12) = TODAY()) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Privacy Request&apos;) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Privacy Request - Read Only&apos;) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Data Owner Request&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Status}) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) &amp;&amp;({!myVariable_current.Total_On_Hold_Days__c} = 12) &amp;&amp; (({!myVariable_current.Date_On_Hold__c} + 12) = TODAY()) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Privacy Request&apos;) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Privacy Request - Read Only&apos;) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Data Owner Request&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Status) &amp;&amp;  ISPICKVAL([Case].Status, &apos;On Hold&apos;) &amp;&amp;([Case].Total_On_Hold_Days__c = 6) &amp;&amp; (([Case].Date_On_Hold__c + 6) = TODAY()) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Privacy Request&apos;) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Privacy Request - Read Only&apos;) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Data Owner Request&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Status}) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) &amp;&amp;({!myVariable_current.Total_On_Hold_Days__c} = 6) &amp;&amp; (({!myVariable_current.Date_On_Hold__c} + 6) = TODAY()) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Privacy Request&apos;) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Privacy Request - Read Only&apos;) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Data Owner Request&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Status) &amp;&amp;  ISPICKVAL([Case].Status, &apos;On Hold&apos;) &amp;&amp;([Case].Total_On_Hold_Days__c = 9) &amp;&amp; (([Case].Date_On_Hold__c + 9) = TODAY()) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Privacy Request&apos;) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Privacy Request - Read Only&apos;) &amp;&amp; ([Case].RecordType.Name &lt;&gt; &apos;Data Owner Request&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Status}) &amp;&amp;  ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) &amp;&amp;({!myVariable_current.Total_On_Hold_Days__c} = 9) &amp;&amp; (({!myVariable_current.Date_On_Hold__c} + 9) = TODAY()) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Privacy Request&apos;) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Privacy Request - Read Only&apos;) &amp;&amp; ({!myVariable_current.RecordType.Name} &lt;&gt; &apos;Data Owner Request&apos;)</expression>
    </formulas>
    <interviewLabel>Case_On_Hold_6_Days_Reminder-6_InterviewLabel</interviewLabel>
    <label>Case On Hold Every 3rd Day Reminder v2</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A2</name>
        <label>Update Total On Hold Days</label>
        <locationX>1000</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Total On-Hold Days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Total_On_Hold_Days__c</field>
            <value>
                <elementReference>formula_11_myRule_10_A2_7208687694</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Total On Hold Days</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Total On-Hold Days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Total_On_Hold_Days__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_8630600244</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A2</name>
        <label>Update Total On Hold Days</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Total On-Hold Days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Total_On_Hold_Days__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A2_0124852558</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>Update Total On Hold Days</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Total On-Hold Days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Total_On_Hold_Days__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A2_1444167851</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
