flows/CSR_Loyalty_Rewards_Adjustments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Expire</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Expire</stringValue>
        </value>
    </constants>
    <constants>
        <name>Redeem</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Redeem</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Change_Type</name>
        <label>Change Type</label>
        <locationX>225</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Get_Reward_record_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>YesDollar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccommodationPoints</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rewards_Adjustment_Confirmation_AddDollar</targetReference>
            </connector>
            <label>Accommodation Points</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Type_0</name>
        <label>Change Type</label>
        <locationX>403</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Rewards_Adjustment_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extend</defaultConnectorLabel>
        <rules>
            <name>Expire_or_Redeem_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Expire</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Redeem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rewards_Adjustment_Confirmation_Expire_Redeem</targetReference>
            </connector>
            <label>Expire or Redeem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Reward_Change</name>
        <label>Type of Reward Change</label>
        <locationX>946</locationX>
        <locationY>369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expire_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Expire</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reward_Expire</targetReference>
            </connector>
            <label>Expire</label>
        </rules>
        <rules>
            <name>Redeem_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Redeem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reward_Redeem</targetReference>
            </connector>
            <label>Redeem</label>
        </rules>
        <rules>
            <name>Extend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reward_Extend</targetReference>
            </connector>
            <label>Extend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updates_Points_value</name>
        <label>Updates Points value</label>
        <locationX>807</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccommodationPoints</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>picklist of Reward records that match by LoyaltyID and are still active</description>
        <name>SelectRewardRecord</name>
        <dataType>String</dataType>
        <displayField>Reward_Number__c</displayField>
        <filters>
            <field>LoyaltyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Contact.LoyaltyID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Reward__c</object>
        <sortField>IssuanceDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>SequenceNumber__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Add_Dollar_Coupon_Text</name>
        <dataType>String</dataType>
        <expression>&quot;Add a Dollar Coupon&quot;</expression>
    </formulas>
    <formulas>
        <name>Add_Percent_value_formula</name>
        <dataType>String</dataType>
        <expression>&quot;AddPercentCoupon&quot;</expression>
    </formulas>
    <formulas>
        <name>AddPercentCouponText</name>
        <dataType>String</dataType>
        <expression>&quot;Add a Percent Off Coupon&quot;</expression>
    </formulas>
    <formulas>
        <name>ExtensionDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Reward_record_to_update.OriginalExpireDate__c} + 90</expression>
    </formulas>
    <formulas>
        <name>PointFormula</name>
        <dataType>Number</dataType>
        <expression>{!Amount} * {!Get_Point_Conversion.Point_Reward_Multiplier__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RewardNumber_form</name>
        <dataType>String</dataType>
        <expression>{!Reward_Number}&amp;{!Get_Case_Contact.LoyaltyID__c}</expression>
    </formulas>
    <formulas>
        <name>Status_value</name>
        <dataType>String</dataType>
        <expression>CASE({!RewardChange_dependent.topValue},
&quot;Redeem&quot;, &quot;Redeemed&quot;,
&quot;Expire&quot;, &quot;Expired&quot;,
&quot;Active&quot;)</expression>
    </formulas>
    <interviewLabel>CSR Loyalty Rewards Adjustments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSR Loyalty Rewards Adjustments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Case record the Rewards Adjustment button was clicked from</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>51</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Loyalty_ID__c</queriedFields>
        <queriedFields>PointsGranted__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Reward_Change_Type__c</queriedFields>
        <queriedFields>Reward_Change_Details__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Contact</name>
        <label>Get Case Contact</label>
        <locationX>52</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Point_Conversion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LoyaltyID__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Brand_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find all matching Reward records for the LoyaltyId of the Customer</description>
        <name>Get_matching_Reward_records</name>
        <label>Get matching Reward records</label>
        <locationX>53</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rewards_Adjustment</targetReference>
        </connector>
        <filters>
            <field>LoyaltyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Contact.LoyaltyID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reward__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SequenceNumber__c</queriedFields>
        <queriedFields>LoyaltyId__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Active_Flag__c</queriedFields>
        <queriedFields>CancelledDate__c</queriedFields>
        <queriedFields>RedeemedDate__c</queriedFields>
        <queriedFields>ExpireDate__c</queriedFields>
        <queriedFields>ExtensionDate__c</queriedFields>
        <queriedFields>IssuanceDate__c</queriedFields>
        <queriedFields>OriginalExpireDate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Point_Conversion</name>
        <label>Get Point Conversion</label>
        <locationX>52</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_matching_Reward_records</targetReference>
        </connector>
        <filters>
            <field>Brand_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Contact.Brand_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Point_Reward_Multiplier__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brand_ID__c</queriedFields>
        <queriedFields>Point_Reward_Multiplier__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find the matching Reward records for the LoyaltyId of the Customer AND Reward Number entered into Form</description>
        <name>Get_Reward_record_to_update</name>
        <label>Get Reward record to update</label>
        <locationX>322</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Type_0</targetReference>
        </connector>
        <filters>
            <field>LoyaltyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Contact.LoyaltyID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RewardId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reward_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reward__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OriginalExpireDate__c</queriedFields>
        <queriedFields>ExpireDate__c</queriedFields>
        <queriedFields>CancelledDate__c</queriedFields>
        <queriedFields>ExtensionDate__c</queriedFields>
        <queriedFields>RedeemedDate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>816</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Type_of_Reward_Change</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LoyaltyComments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingPointsAdjustment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RewardId__c</field>
            <value>
                <elementReference>Get_Reward_record_to_update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Change_Details__c</field>
            <value>
                <elementReference>RewardChange_dependent.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Change_Type__c</field>
            <value>
                <elementReference>RewardChange_dependent.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Number__c</field>
            <value>
                <elementReference>Reward_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Flag</name>
        <label>Update Case - Flag</label>
        <locationX>1067</locationX>
        <locationY>94</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dollar_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyComments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingPointsAdjustment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PointsAdjustmentTimeStamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PointsGranted__c</field>
            <value>
                <elementReference>PointFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Change_Details__c</field>
            <value>
                <elementReference>RewardChange_dependent.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Change_Type__c</field>
            <value>
                <elementReference>RewardChange_dependent.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Number__c</field>
            <value>
                <elementReference>Reward_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reward_Expire</name>
        <label>Update Reward-Expire</label>
        <locationX>1149</locationX>
        <locationY>215</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reward_record_to_update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpireDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code__c</field>
            <value>
                <elementReference>RewardChange_dependent.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_value</elementReference>
            </value>
        </inputAssignments>
        <object>Reward__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reward_Extend</name>
        <label>Update Reward-Extend</label>
        <locationX>1152</locationX>
        <locationY>503</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reward_record_to_update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpireDate__c</field>
            <value>
                <elementReference>ExtensionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtensionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonCode__c</field>
            <value>
                <elementReference>RewardChange_dependent.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_value</elementReference>
            </value>
        </inputAssignments>
        <object>Reward__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reward_Redeem</name>
        <label>Update Reward-Redeem</label>
        <locationX>1172</locationX>
        <locationY>372</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reward_record_to_update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReasonCode__c</field>
            <value>
                <elementReference>RewardChange_dependent.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RedeemedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_value</elementReference>
            </value>
        </inputAssignments>
        <object>Reward__c</object>
    </recordUpdates>
    <screens>
        <name>Rewards_Adjustment</name>
        <label>Rewards Adjustment</label>
        <locationX>233</locationX>
        <locationY>540</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Type</targetReference>
        </connector>
        <fields>
            <name>RewardChange_dependent</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Reward_Change_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Reward_Change_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Reward Change Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reward Change Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>RewardChangeType_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>RewardChangeDetails_value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <fieldText>$ Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AccommodationPoints</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RewardChange_dependent.middleValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reward_Number</name>
            <dataType>String</dataType>
            <fieldText>Reward Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The Reward Number you entered is not valid. Please try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!RewardNumber_form} = {!Get_matching_Reward_records.SequenceNumber__c}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>(1 OR 2 or 4) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Expire</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Redeem</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RewardChange_dependent.middleValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RewardChange_dependent.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Extend</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Comments contains more than 255 characters. Please shorten and try again.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rewards_Adjustment_Confirmation</name>
        <label>Rewards Adjustment Confirmation-Other</label>
        <locationX>594</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Updates_Points_value</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;You are attempting to {!RewardChange_dependent.topValue} {!PointFormula} points for LoyaltyId {!Get_Case_Contact.LoyaltyID__c}. The new Expiration Date will be {!ExtensionDate}. Press Next button to submit, or close this tab to void this change.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: This change will not appear in Rewards Transaction history until tomorrow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rewards_Adjustment_Confirmation_AddDollar</name>
        <label>Rewards Adjustment Confirmation-Add Dollar</label>
        <locationX>461</locationX>
        <locationY>28</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Updates_Points_value</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message_0_0</name>
            <fieldText>&lt;p&gt;You are attempting to {!Add_Dollar_Coupon_Text} for ${!Amount}. This equates to {!PointFormula} points for LoyaltyId {!Get_Case_Contact.LoyaltyID__c}. Press Finish button to submit, or press Cancel to void this change.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: This change will not appear in Points Transaction history until tomorrow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rewards_Adjustment_Confirmation_Expire_Redeem</name>
        <label>Rewards Adjustment Confirmation-Expire-Redeem</label>
        <locationX>684</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Updates_Points_value</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message_0_0_0</name>
            <fieldText>&lt;p&gt;You are attempting to {!RewardChange_dependent.topValue} Reward #{!Reward_Number} for LoyaltyId {!Get_Case_Contact.LoyaltyID__c}. Press Next button to submit, or close this tab to void this change.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: This change will not appear in Rewards Transaction history until tomorrow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curCase2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReasonCode_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RewardChangeDetails_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RewardChangeType_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
